<div class="_company-input-form">
  <h2>Картка компанії</h2>
  <form action="">
    <div>
      <label for="">Повна назва:</label>
      <input type="text">
    </div>
    <div>
      <label for="">Скорочена назва:</label>
      <input type="text">
    </div>
    <div>
      <label for="">Код ЄДРПОУ:</label>
      <input type="text">
    </div>
    <div>
      <label for="">Адреса для листування:</label>
      <input type="text">
    </div>
    <div>
      <label for="">Юридична адреса:</label>
      <input type="text">
    </div>
    <div>
      <label for="">IBAN:</label>
      <input type="text">
    </div>
    <div>
      <label for="">МФО:</label>
      <input type="text">
    </div>
    <div>
      <label for="">Телефони:</label>
    </div>
    <div>
      <label for="">Особистий кабіінет:</label>
      <input type="text">
    </div>
    <div>
      <label for="">Передача показів:</label>
      <input type="text">
    </div>
    <div>
      <label for="">Соціальні мережі:</label>
    </div>
    <div>
      <label for="">Чат боти:</label>
    </div>
    <div>
      <input type="button" value="Зберегти">
      <input type="button" value="Закрити">
      <input type="button" value="Очистити">
    </div>
  </form>
</div>