<div class="company-input-form">
  <h2>Картка компанії</h2>
  <form action="">
    <app-input [caption]="formControls.fullName.label" />
    <app-input [caption]="formControls.abrName.label" />
    <app-input [caption]="formControls.codEDRPOU.label" />
    <app-input [caption]="formControls.postAddres.label" />
    <app-input [caption]="formControls.lawAddress.label" />
    <app-input [caption]="formControls.iban.label" />
    <app-input [caption]="formControls.mfo.label" />
    <app-group-inputs [groupTitle]="formControls.phones.groupTitle" [elementTitle]="formControls.phones.label"/>
    <app-input [caption]="formControls.parlor.label" />
    <app-input [caption]="formControls.transmissionOfMetersData.label" />
    <app-group-inputs [groupTitle]="formControls.socialNetworks.groupTitle" [elementTitle]="formControls.socialNetworks.label"/>
    <app-group-inputs [groupTitle]="formControls.chatBots.groupTitle" [elementTitle]="formControls.chatBots.label"/>
    <div class="button-group">
      <button type="button">Зберегти</button>
      <button type="button">Закрити</button>
      <button type="button">Очистити</button>
    </div>
  </form>
</div>