<div class="_company-input-form">
  <h2>Картка компанії</h2>
  <form action="">
    <app-input [caption]="formControls.fullName.label" />
    <app-input [caption]="formControls.abrName.label" />
    <app-input [caption]="formControls.codEDRPOU.label" />
    <app-input [caption]="formControls.postAddres.label" />
    <app-input [caption]="formControls.lawAddress.label" />
    <app-input [caption]="formControls.iban.label" />
    <app-input [caption]="formControls.mfo.label" />
    <app-group-inputs />


    <div>
      <div>
        <label for="">Телефони:</label>
        <input type="button" value="Додати">
      </div>
      <div>
        <input type="text">
      </div>
    </div>
    <app-input [caption]="formControls.parlor.label" />
    <app-input [caption]="formControls.transmissionOfMetersData.label" />
    <div>
      <div>
        <label for="">Соціальні мережі:</label>
        <input type="button" value="Додати">
      </div>
      <div>
        <input type="text">
      </div>
    </div>
    <div>
      <div>
        <label for="">Чат боти:</label>
        <input type="button" value="Додати">
      </div>
      <div>
        <input type="text">
      </div>
    </div>
    <div>
      <input type="button" value="Зберегти">
      <input type="button" value="Закрити">
      <input type="button" value="Очистити">
    </div>
  </form>
</div>